# Copy this file to .env and adjust ports as needed
FRONTEND_PORT=8080
BACKEND_PORT=8081
BACKEND_INTERNAL_PORT=8000

# Cryptographic key for signing authentication tokens
SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_STRING

# Set to "true" to allow new user registrations, "false" to disable
ALLOW_REGISTRATION=false
